[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/dss-test"]
	path = lib/dss-test
	url = https://github.com/makerdao/dss-test
[submodule "lib/sky-ntt-migration"]
	path = lib/sky-ntt-migration
	url = git@github.com:crocodiledundalk/sky-ntt-migration
	branch = evm-oft-migration
[submodule "lib/sky-oapp-oft"]
	path = lib/sky-oapp-oft
	url = git@github.com:sky-ecosystem/sky-oapp-oft.git
	branch = milestone-1
[submodule "lib/sky-oapp-gov"]
	path = lib/sky-oapp-gov
	url = git@github.com:sky-ecosystem/sky-oapp-oft.git
	branch = governance
