[submodule "lib/dss-test"]
	path = lib/dss-test
	url = https://github.com/sky-ecosystem/dss-test
[submodule "lib/sky-ntt-migration"]
	path = lib/sky-ntt-migration
	url = https://github.com/sky-ecosystem/sky-ntt-migration
	branch = evm-oft-migration
[submodule "lib/sky-oapp-oft"]
	path = lib/sky-oapp-oft
	url = https://github.com/sky-ecosystem/sky-oapp-oft
	branch = riley/oft-changes
[submodule "lib/sky-oapp-gov"]
	path = lib/sky-oapp-gov
	url = https://github.com/sky-ecosystem/sky-oapp-oft
	branch = riley/governance-changes
